.marker {
  width: 15px;
  height: 15px;
  position: absolute;
  background: rgb(0, 119, 255);
  border-radius: 50%;
  border: 3px solid white;
}

.meetingPoint {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #e31e63;
  border-radius: 50%;
  border: 3px solid white;
}